<p-toast></p-toast>
<div class="account-container p-grid">
    <app-account-menu class="p-col"></app-account-menu>

    <div class="p-md-9 p-col-10 account-card">
        <h2>Password</h2>
        <p>Change Password</p>

        <hr style="opacity: 0.1" />

        <div class="profile-container">
            <div *ngIf="changePasswordError == true" class="errorMsg">
                {{ errorMessage }}
            </div>

            <form
                #changePasswordForm="ngForm"
                (ngSubmit)="changePassword(changePasswordForm)"
            >
                <div class="p-fluid">
                    <div
                        *ngIf="
                            oldPassword.invalid &&
                            (oldPassword.dirty ||
                                oldPassword.touched ||
                                submitted)
                        "
                        class="errorText"
                    >
                        <div
                            *ngIf="
                                oldPassword.errors != null &&
                                oldPassword.errors.required
                            "
                        >
                            Old Password is required.
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label
                            for="oldPassword"
                            class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
                        >
                            Current Password
                        </label>
                        <div class="p-col-12 p-md-10">
                            <input
                                #oldPassword="ngModel"
                                id="oldPassword"
                                name="oldPassword"
                                type="password"
                                placeholder="Current Password"
                                [(ngModel)]="oldPwd"
                                required
                                pInputText
                            />
                        </div>
                    </div>

                    <div
                        *ngIf="
                            newPassword.invalid &&
                            (newPassword.dirty ||
                                newPassword.touched ||
                                submitted)
                        "
                        class="errorText"
                    >
                        <div
                            *ngIf="
                                newPassword.errors != null &&
                                newPassword.errors.required
                            "
                        >
                            New Password is required.
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label
                            for="newPassword"
                            class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
                        >
                            New Password
                        </label>
                        <div class="p-col-12 p-md-10">
                            <input
                                #newPassword="ngModel"
                                id="newPassword"
                                name="newPassword"
                                type="password"
                                placeholder="New Password"
                                [(ngModel)]="newPwd"
                                required
                                pInputText
                            />
                        </div>
                    </div>

                    <div
                        *ngIf="
                            cfmPassword.invalid &&
                            (cfmPassword.dirty ||
                                cfmPassword.touched ||
                                submitted)
                        "
                        class="errorText"
                    >
                        <div
                            *ngIf="
                                cfmPassword.errors != null &&
                                cfmPassword.errors.required
                            "
                        >
                            Confirm Password is required.
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label
                            for="cfmPassword"
                            class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
                        >
                            Confirm Password
                        </label>
                        <div class="p-col-12 p-md-10">
                            <input
                                #cfmPassword="ngModel"
                                id="cfmPassword"
                                name="cfmPassword"
                                type="password"
                                placeholder="Confirm Password"
                                [(ngModel)]="confirmPwd"
                                required
                                pInputText
                            />
                        </div>
                    </div>

                    <div class="p-grid p-jc-end">
                        <div class="account-save-button">
                            <span>
                                <p-button
                                    label="Change Password"
                                    type="submit"
                                ></p-button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
