:host >>> .p-inputnumber-input {
    width: 100%;
}

#couponCode {
    margin: 0;
    height: 2em;
}

.smallSpace {
    font-size: 0.5em;
    color: transparent;
}

* {
    font-family: "Noto Sans SC", "sans-serif";
    font-size: 18px;
}
